:root {
  --primary-color: #00d1ff;
  --secondary-text-color: #a9a9a9;
  --main-background-color: #fff;
}

body {
  margin: auto 0;
  background-color: #f5f5f8;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

nav {
  padding: 10px;
  background-color: var(--main-background-color);
  color: #000;
  display: flex;
  justify-content: center;
}

.title {
  color: var(--secondary-text-color);
}

/* main title component styles */
.date {
  color: var(--secondary-text-color);
}

/* cards components styles */
.card-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 40px;
  justify-items: center;
}

.card {
  background-color: var(--main-background-color);
  width: 85%;
}

/* tod0 component style */
.todo {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.input-container {
  margin-left: 1rem;
}

.todo-item  {
  margin-left: 1rem;
}


.todo > label {
  padding-left: 1rem;
}

.todo-time {
  margin-left: auto;
  margin-right: 1rem;
}

/* add button component styles */
.add-button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.add-button {
  border-color: var(--secondary-text-color);
  color: var(--secondary-text-color);
  border-style: dashed;
  padding: 5px;
  background-color: rgab(0, 0, 0, 0);
  width: 50%;
  height: 35px;
}

.add-button:active {
  background-color: var(--primary-color);
  color: var(--main-background-color);
}

.add-button:focus {
  outline: none;
}

/* modal component styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container > input {
  padding: 10px;
  font-size: 18px;
  margin: 10px;
  width: 70%;
}

.modal-container > input:focus {
  outline-color: var(--primary-color);
}

.modal-container > button {
  border-color: var(--primary-color);
  color: var(--primary-color);
  padding: 10px;
  width: 65%;
  font-size: 18px;
  margin: 5px;
}

.modal-container > button:active {
  background-color: var(--primary-color);
  color: var(--main-background-color);
}

.modal-container > button:focus {
  outline: none;
}
